{% extends '__base__.html' %}
{% block content %}

    <header>
        {% include 'navbar.html' %}
        {% block navbar %}{% endblock navbar %}
    </header>
    <header>
        {% include 'navbar_admin.html' %}
        {% block admin %}{% endblock admin %}
    </header>

    <section class="login-page">

        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn" type="submit" value="Zapisz">
            </form>
        </div>

    </section>

{% endblock content %}