{% extends '__base__.html' %}
{% block content %}
    <!-- //--------------------------- header -------------------------// -->
    <header>
        {% include 'navbar.html' %}
        {% block navbar %}{% endblock navbar %}
    </header>
    <!-- //--------------------------- header end ---------------------// -->
    <section class="login-page">
        <h2>Resetuj hasło</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="email" placeholder="Email"/>
                <h1>{{ message }}</h1>
            </div>

            <div class="form-group form-group--buttons">
                <a href="{% url 'login' %}" class="btn btn--without-border">Anuluj</a>
                <button class="btn" type="submit">Wyślij email</button>
            </div>
        </form>
    </section>


{% endblock content %}
