{% extends '__base__.html' %}
{% block content %}

    <header>
        {% include 'navbar.html' %}
        {% block navbar %}{% endblock navbar %}
    </header>
    <header>
        {% include 'navbar_admin.html' %}
        {% block admin %}{% endblock admin %}
    </header>

    <section class="login-page">
        <h1>Czy na pewno chcesz usunąć instytucję: {{ institution.name }}</h1>
        <div class="form-group form-group--buttons">
            <form method="POST">
                {% csrf_token %}

                <input type="submit" class="btn" value="Usuń">

                <a href="{% url 'institution-list' %}" class="btn">Anuluj</a>
        </div>
        </form>
        </div>

    </section>

{% endblock content %}