{% extends '__base__.html' %}
{% block content %}
    <!-- //--------------------------- header -------------------------// -->
    <header>
        {% include 'navbar.html' %}
        {% block navbar %}{% endblock navbar %}
    </header>
    <!-- //--------------------------- header end ---------------------// -->
    <header>
        {% include 'navbar_admin.html' %}
        {% block admin %}{% endblock admin %}
    </header>

    <section>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Rodzaj</th>
                    <th>Opis</th>
                    <th>Kategorie</th>
                    <th colspan="2"><a href="#" class="btn">Dodaj</a></th>
                </tr>
                </thead>
                <tbody>
                {% for institution in object_list %}
                    <tr>
                        <td>{{ institution.id }}</td>
                        <td>{{ institution.name }}</td>
                        <td>{{ institution.get_type_display }}</td>
                        <td>{{ institution.description }}</td>
                        <td>
                            {% for category in institution.categories.all %}
                                {{ category.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="#" class="btn">Edytuj</a></td>
                        <td><a href="#" class="btn">Usuń</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </section>

{% endblock content %}
