{% extends '__base__.html' %}
{% block content %}

    <header>
        {% include 'navbar.html' %}
        {% block navbar %}{% endblock navbar %}
    </header>

    <section class="admin-menu">
        <h2>Czy na pewno chcesz usunąć instytucję:
            <br>{{ institution.name }}</h2>
    </section>

    <section class="login-page">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group form-group--buttons">
                <a href="{% url 'institution-list' %}" class="btn">Anuluj</a>

                <input type="submit" class="btn" value="Usuń">
            </div>
        </form>
    </section>

{% endblock content %}