{% extends '__base__.html' %}
{% block content %}
<!-- //--------------------------- header -------------------------// -->
<header>
    {% include 'navbar.html' %}
    {% block navbar %}{% endblock navbar %}
</header>
<!-- //--------------------------- header end ---------------------// -->
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form action="" method="POST">
          {% csrf_token %}
        <div class="form-group">
          <input type="text" name="name" placeholder="Imię" />
            {{ name_msg }}
        </div>
         <div class="form-group">
          <input type="text" name="surname" placeholder="Nazwisko" />
             {{ surname_msg }}
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
            {{ email_msg }}
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" />
            {{ password_msg }}
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło" />
            {{ password2_msg }}
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

{% endblock content %}
