{% extends '__base__.html' %}
{% block content %}
    <!-- //--------------------------- header -------------------------// -->
    <header>
        {% include 'navbar.html' %}
        {% block navbar %}{% endblock navbar %}
    </header>
    <!-- //--------------------------- header end ---------------------// -->
    <section class="admin-menu">
        <h2>Profil użytkownika:
            {{ current_user.first_name }}
            {{ current_user.last_name }}
            ({{ current_user.email }})
        </h2>
    </section>


    <section>
        <div class="table-container">
            {% if not page_obj %}
                <h1>Nie przekazałeś jeszcze żadnych darów</h1>
            {% else %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Liczba worków</th>
                        <th>Instytucja</th>
                        <th>Kategorie</th>
                        <th>Data przekazania</th>
                        <th>Szczegóły</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for donation in page_obj %}
                        <tr>
                            <td>{{ donation.quantity }}</td>
                            <td>{{ donation.institution.name }}</td>
                            <td>
                                {% for category in donation.categories.all %}
                                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ donation.pick_up_date|date:"Y-m-d" }}</td>
                            <td><a href="" class="btn btn--without-border">Szczegóły</a></td>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}
        </div>
                {% include 'pagination.html' %}
                {% block pagination %}{% endblock pagination %}
    </section>


{% endblock content %}
