{% extends '__base__.html' %}
{% block content %}
    <!-- //--------------------------- header -------------------------// -->
    <header>
        {% include 'navbar.html' %}
        {% block navbar %}{% endblock navbar %}
    </header>
    <!-- //--------------------------- header end ---------------------// -->
    <section class="admin-menu">
        <h2>Profil użytkownika:
            {{ current_user.first_name }}
            {{ current_user.last_name }}
            ({{ current_user.email }})
        </h2>
    </section>


    <section>
        <div class="table-container">
            {% if not page_obj %}
                <h1>Nie przekazałeś jeszcze żadnych darów</h1>
            {% else %}
                <table class="table table--details">
                    <thead>
                    <tr>
                        <th>Liczba worków</th>
                        <th>Instytucja</th>
                        <th>Kategorie</th>
                        <th>Data odbioru</th>
                        <th>Status</th>
                        <th>Szczegóły</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for donation in page_obj %}
                        {% if donation.is_taken %}
                            <tr style="color:grey;">
                                <td>{{ donation.quantity }}</td>
                                <td>{{ donation.institution.name }}</td>
                                <td>
                                    {% for category in donation.categories.all %}
                                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ donation.pick_up_date|date:"Y-m-d" }}</td>
                                <td>Odebrane</td>
                                <td><a href="">Szczegóły</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ donation.quantity }}</td>
                                <td>{{ donation.institution.name }}</td>
                                <td>
                                    {% for category in donation.categories.all %}
                                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ donation.pick_up_date|date:"Y-m-d" }}</td>
                                <td>
                                    <a href="{% url 'donation-confirm-received' donation.id %}">Potwierdź odbiór</a>
                                </td>
                                <td><a href="{% url 'donation-details' donation.id %}">Szczegóły</a></td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}
        </div>
        {% include 'pagination.html' %}
        {% block pagination %}{% endblock pagination %}
    </section>


{% endblock content %}
