{% extends '__base__.html' %}
{% block content %}
<!-- //--------------------------- header -------------------------// -->
<header>
    {% include 'navbar.html' %}
    {% block navbar %}{% endblock navbar %}
</header>
<!-- //--------------------------- header end ---------------------// -->
    <section class="login-page">
      <h2>Zmień hasło</h2>
      <form action="" method="POST">
          {% csrf_token %}
        <div class="form-group">
          <input type="password" name="old_password" placeholder="Stare hasło"/>
            <h1 style="display: inline;">{{ old_password_msg }}</h1>
        </div>
         <div class="form-group">
          <input type="password" name="new_password" placeholder="Nowe hasło"/>
            <h1 style="display: inline;">{{ new_password_msg }}</h1>
        </div>
        <div class="form-group">
          <input type="password" name="new_password2" placeholder="Powtórz nowe hasło"/>
            <h1 style="display: inline;">{{ new_password2_msg }}</h1>
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'user-settings' %}" class="btn btn--without-border">Anuluj</a>
          <button class="btn" type="submit">Zatwierdź zmiany</button>
        </div>
      </form>
    </section>

{% endblock content %}
